* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  background: #bac38794;
  font-size: 1.1rem;
  font-family: "Quicksand", sans-serif;
  height: 100%;
}
@keyframes strikeitem {
  to {
    width: calc(100% + 1rem);
  }
}
h1 {
  display: flex;
  justify-content: center;
}
.btn {
  border: none;
  padding: 5px 11px;
  cursor: pointer;
}
.delete-btn {
  display: flex;
  justify-content: center;
  background-color: red;
  margin-right: 22px;
}
.todos {
  margin: 4rem auto;
  padding: 2rem 3rem 3rem;
  max-width: 500px;
  background: #67a4ab;
  color: #fff;
  box-shadow: -20px -20px 0px 0px rgba(100, 100, 100, 0.1);
}
.todos ul {
  margin-top: 2.6rem;
  list-style: none;
}
.todos .todolist-move {
  transition: transform 1s;
}
.todos li {
  display: flex;
  margin: 0 -3rem 4px;
  padding: 1.1rem 3rem;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  font-size: 13px;
}
form {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
}
form input {
  flex-grow: 1;
  border: none;
  background: #f7f1f1;
  padding: 0 1.5em;
  font-size: initial;
}
form button {
  padding: 0 1.3rem;
  border: none;
  background: #ff6666;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin-left: 5px;
  cursor: pointer;
  transition: background 0.2s ease-out;
}
form button:hover {
  background: #ff5e5e;
}
form input,
form button {
  font-family: "Quicksand", sans-serif;
  height: 3rem;
}
#delete-all {
  padding: 0 1.3rem;
  border: none;
  background: #ff6666;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid rgba(255, 255, 255, 0.3);
  cursor: pointer;
  transition: background 0.2s ease-out;
}
#delete-all:hover {
  background: #ff5e5e;
}

